MajorProje/StudentSystemProject/WebUI/Connected Services/ServiceReference/WcfService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WcfService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:58663/WcfService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:58663/WcfService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:58663/WcfService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Dto" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWcfService_GetByIdUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetByIdUser" />
  </wsdl:message>
  <wsdl:message name="IWcfService_GetByIdUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByIdUserResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfService_GetAllUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUser" />
  </wsdl:message>
  <wsdl:message name="IWcfService_GetAllUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUserResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfService_InsertUser_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertUser" />
  </wsdl:message>
  <wsdl:message name="IWcfService_InsertUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertUserResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfService_RemoveUser_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveUser" />
  </wsdl:message>
  <wsdl:message name="IWcfService_RemoveUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveUserResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfService_UpdateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUser" />
  </wsdl:message>
  <wsdl:message name="IWcfService_UpdateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserResponse" />
  </wsdl:message>
  <wsdl:portType name="IWcfService">
    <wsdl:operation name="GetByIdUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/GetByIdUser" message="tns:IWcfService_GetByIdUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/GetByIdUserResponse" message="tns:IWcfService_GetByIdUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/GetAllUser" message="tns:IWcfService_GetAllUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/GetAllUserResponse" message="tns:IWcfService_GetAllUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/InsertUser" message="tns:IWcfService_InsertUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/InsertUserResponse" message="tns:IWcfService_InsertUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/RemoveUser" message="tns:IWcfService_RemoveUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/RemoveUserResponse" message="tns:IWcfService_RemoveUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/UpdateUser" message="tns:IWcfService_UpdateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/UpdateUserResponse" message="tns:IWcfService_UpdateUser_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWcfService" type="tns:IWcfService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetByIdUser">
      <soap:operation soapAction="http://tempuri.org/IUserService/GetByIdUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllUser">
      <soap:operation soapAction="http://tempuri.org/IUserService/GetAllUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertUser">
      <soap:operation soapAction="http://tempuri.org/IUserService/InsertUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveUser">
      <soap:operation soapAction="http://tempuri.org/IUserService/RemoveUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <soap:operation soapAction="http://tempuri.org/IUserService/UpdateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WcfService">
    <wsdl:port name="BasicHttpBinding_IWcfService" binding="tns:BasicHttpBinding_IWcfService">
      <soap:address location="http://localhost:58663/WcfService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>